/* Every Page */
:root{
    --EDS-orange: #B40756;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #7e797d;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 61px; 
    margin: 0;
}

*{
    box-sizing: border-box;
}

a {
    color: #0077c8;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    background: transparent;
}

.text-body{
    color: #141414!important;
}

.login-page {
    background: #fcf8f5 url(https://identity.railsmart.io/images/page-graphic.svg) no-repeat bottom;
}

h1 {
    margin-top: 2rem;
    padding-bottom: .5rem;
    color: #141414!important;
}

h2 {
   font-size: 1.75rem; 
   font-weight: 500;
   line-height: 1.2;
   margin-top: 0;
   color: #141414;
}

.bg-brand {
   background-color: var(--EDS-orange);
}

.bg-white {
    background-color: #fff!important;
}

.link {
    color: #0077c8;
    text-decoration-line: none;
    line-height: 1.5;
}

.link-white {
    color: #fff;
    text-decoration-line: none;
}


.link-underline {
    color: #0077c8;
}

.right {
    float: right;
}

.left {
    float: left;
}

.main-content {
    margin-left: 5%;
    margin-right: 5%;
}

.edit {
    margin-left: 20px;
}

.edit-text {
    color: #0077c8;
    text-decoration-line: none;
    margin: 4px;
}

.symbol-margin-right {
    margin: 0px 15px 0px 0px;
}

.symbol {
    margin: 5px;
}

.grey {
    color: #5f5f5f;
}

.white {
    color: #ffffff;
}

.black {
    color: black;
}

.inline {
    display: inline;
}

.tooltip {
    font-size: 32px;
    color: #0077c8;
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 16px;
    visibility: hidden;
    min-width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -40px;
    right: 120%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 104%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.7);
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.pagination {
    display: inline-block;
    border-radius: .25rem;
    padding-left: 0;
}

/* .pagination a {
    border: 1px solid #d6d6d6;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
} */

.page-item{
    color: #0077c8;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    text-decoration: none;
}

.pagination .page-item.active {
    color: #fff;
    background-color: var(--EDS-orange);
    border-color: var(--EDS-orange);
}

.pagination .page-item:hover:not(.active) {background-color: #ddd;}


/* Padding */
.p-0{
    padding: 0 !important;
}

.p-2{
    padding: .5rem !important;
}

.pl-3{
    padding-left: 1rem !important;
}

.pl-4{
    padding-left: 1.5rem !important;
}

.pl1, .px-1{
    padding-left: 0.25rem !important;
}

.pr1, .px-1{
    padding-right: 0.25rem !important;
}

.px-2{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

/* Flex */
.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.d-flex {
    display: flex!important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-lg-row {
    flex-direction: row!important;
}

/* Navbar */

.forge-main-nav{
    height: 60px;
    position: relative;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    list-style-type: none;
    margin: 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3359375rem;
    padding-bottom: 0.3359375rem;
    margin-right: 1rem;
    font-size: 1.09375rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-expand-lg, .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar-collapse {
    flex-grow: 1;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.forge-sub-nav, .navbar-nav:first-child {
    padding-left: .5rem!important;
    display: inline-block;
}
.nav-notifications {
    position: relative;
}

.forge-sub-nav, .nav-item:before {
    content: "";
    display: inline;
    margin: 0 0.75rem;
}

.forge-sub-nav, .nav-item:before {
    border-left: 1px solid #d6d6d6;
}

.vue-page, .forge-sub-nav, .navbar-nav, .nav-item, .nav-link {
    padding: 0.125rem 0;
    position: relative;
    font-weight: 400;
    -webkit-text-decoration-color: transparent;
    text-decoration-color: transparent;
}

.nav-link:hover {
    -webkit-text-decoration-color: #B40756!important;
    text-decoration-color: #B40756!important;
    text-decoration: underline;
    text-decoration-thickness: 3.5px;
    text-underline-offset: 3px;
    transition: .5s ease-in-out;
}

.nav-link-active {
    -webkit-text-decoration-color: #B40756!important;
    text-decoration-color: #B40756!important;
    text-decoration: underline;
    text-decoration-thickness: 3.5px;
    text-underline-offset: 3px;
}


.forge-sub-nav, .navbar-nav, .nav-item, .nav-link {
    color: #5f5f5f;
}

.forge-sub-nav, .forge-nav-dividers, .nav-item>.nav-link, .forge-sub-sub-nav, .forge-nav-dividers, .nav-item>.nav-link {
    display: inline-block;
}
.d-lg-block {
    display: block !important;
}

.h-100{
    height: 100% !important;
}

/* Width */
w-100 {
    width: 100% !important;
}

/* Margin */
.mb-auto{
    margin-bottom: auto !important;
}

.mb-2{
    margin-bottom: .50rem!important;
}

.ml-auto{
    margin-left: auto !important;
}

.ml-1{
    margin-left: 0.25rem!important;
}

.mr-1{
    margin-right: 0.25rem!important;
}

.mr-2{
    margin-right: 0.5rem!important;
}

.my-1{
    margin-top: .25rem!important;
    margin-bottom: .25rem!important;
}

.my-2{
    margin-top: .50rem!important;
    margin-bottom: .50rem!important;
}

.my-3{
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.my-4{
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

.my-5{
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}

.navigation-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(20,20,20,.15)!important;
}

.vue-page .d-lg-block {
  display: block!important;
}
.bg-white {
  background-color: #fff!important;
}


ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px!important;
}

li {
    display: inline-block;
    text-align: -webkit-match-parent;
}
    /* display: inline-block;
    border-right: 1px solid #e3e3e3;
} */

li:last-child {
    border: none;
}


/* Style The Dropdown Button */
li a, .dropbtn {
    display: inline-block;
    color: #5f5f5f;
    text-align: center;
    text-decoration: none;
}

.dropbtn-user {
    display: inline-block;
    color: #fff;
    text-align: center;
    margin: 15px 10px 10px 10px;
    text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
li.dropdown-nav {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    color: #141414;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d6d6d6;
    border-radius: 0.25rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-item {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #141414;
        text-align: inherit;
        white-space: nowrap;
        background-color: rgba(0,0,0,0);
        border: 0;
}

.dropdown-content a {
  color: #5f5f5f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown-nav:hover .dropdown-content {
  display: block;
}

.user-list {
    padding: 0;
}

.topnav-user-profile {
    color: #ffffff;
    text-decoration-line: none;
    font-style: italic;
    float: right;
}

.topnav-user-profile-pic {
    font-size: 30px;
    margin-right: 10px;
}

.topnav-user-profile-name {
    vertical-align: middle;
}

.topnav-user-profile-name:hover {
    cursor: pointer;
}

.topnav {
    float: left;
    margin: 15px 0px 6px 20px;
    padding: 0;
    display: inline-block;
    border: none;
}

.logo {
    height: 36px;
}

.nav-notification {
    float: right;
    border-left: solid #ffffff;
    color: #ffffff;
    text-decoration-line: none;
}

/*Login Page*/
.login-box {
    margin: 75px auto 60px auto;
    width: 500px;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 6px 20px grey;
    box-sizing: border-box;
}

.login-header {
    margin: -15px -15px 15px -15px;
}

.p-3 {
    padding: 1rem!important;
}

.text-white{
    color: #fff;
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #141414;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

button {
    text-transform: none;
    overflow: visible;
    -webkit-appearance: button;
}

.btn-primary{
    color: #fff;
    background-color: #0077c8;
    border-color: #0077c8;
    transition: outline 0.1s;
}

.btn-outline-secondary {
    background-color: #eee;
    color: #5f5f5f;
    border-color: #5f5f5f;
}

.btn-primary:active {
    background-color: #005994;
    border-color: #005994;
    outline: 3px solid #99c5e8;
}

.btn-outline-danger {
    background-color: #fff;
    color: #c61c1c;
    border-color: #c61c1c;
}


.btn-login {
    float: right;
}

.login_form {
    width: 100%;
    border-radius: 5px;
}

.pt-3 {
    padding: 1rem!important;
}
.pb-3 {
    padding: 1rem!important;
}

.ml-4 {
    margin-left: 1.5rem!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.mb-2 {
    margin-bottom: .5rem!important
}

.justify-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Table Styling */
table, td, th {
    border: 1px solid #e5e3e2;
}

th, td {
    padding: 15px;
    text-align: left;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 1rem;
    color: #141414;
}

th {
    height: 50px;
    background-color: #f8e6ee;
    cursor: default;
}

tr:hover {
    background-color: #e9b5cc;
    cursor: pointer;
}

/*Forms*/
input[type=submit] {
    display: inline-block;
    color: #fff;
    background-color: #0077c8;
    text-decoration: none;
    border: 1px solid #0077c8;
    border-radius: 5px;
    width: auto;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date] {
    display: inline-block;
    border: 1px solid #e6e6e6;
    font-size: 16px;
    padding: 2px 2px 1px;
    height: 30px;
    min-width: 300px;
}

.input-container {
    width: 350px;
    margin-right: 1em;
    color: #000;
    vertical-align: top;
    font-size: 16px;
    display: inline-block;
}

label {
    width: 180px;
    margin-bottom: 0.5rem;
    font-size: 16px;
    display: block;
    vertical-align: top;
}

input[type="submit"] {
    display: block;
  }

  .form-group {
    margin-bottom: 1rem;
  }

/* Footer */
.bg-light{
    background-color: #f6f6f6!important;
}
.footer{
    background-color: #edede8;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #fff;
}

.forge-footer {
    border-top: 1px solid #d6d6d6;
    bottom: 0;
    width: 100%;
}

footer {
    display: block;
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
}

.forge-footer-logo{
    height: 32px;
}
.border-left {
    border-left: 1px solid #d6d6d6 !important;
}
.border-white {
    border-color: #fff !important;
}

.container {
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .event-table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
      
      input[type="text"], input[type="password"] {
        padding: 0.5em;
        font-size: 1em;
        border-radius: 5px;
        border: 1px solid #ccc;
      }

      button {
        color: #fff;
        background-color: #0077c8;
        border-color: #0077c8;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        padding: 10px;
        cursor: pointer;

      }
      
      .dropdown-box {
        position: absolute;
        z-index: 1000;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 0.875rem;
        color: #141414;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #d6d6d6;
        border-radius: 0.25rem;
    }
    
    
      }